<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Add product</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="/siofu/client.js"></script>

	<link rel="stylesheet" href="css/style.css">
  	<link rel="stylesheet" href="vendor/bower/pure/pure-min.css">
  	<link rel="stylesheet" href="vendor/bower/bootstrap/dist/css/bootstrap.css">
  	<link rel="stylesheet" href="vendor/bower/bootstrap-social/bootstrap-social.css">
  	<link rel="stylesheet" href="http://purecss.io/combo/1.18.13?/css/layouts/marketing.css">
  	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  	<style>
  		.left{float:left;}
  		.right{float:right;}
  		.splash2 {
        	height: 70%;
        	width: auto;
        	margin: auto;
        	top: 100px;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			top: 100px;
			text-align: center;
			text-transform: uppercase;
    	}
    	.splash3 {
    		width: auto;

        	height: 95%;
        	margin: 5 auto;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
    	}
    	.button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        } 
        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }
        .btnfile {
		    display: block;
		    position: relative;
		    width: 300px;
		    margin: auto;
		    cursor: pointer;
		    border: 0;
		    height: 60px;
		    border-radius: 5px;
		    outline: 0;
		}
		.btnfile:hover:after {
		    background: #5978f8;
		}
		.btnfile:after {
		    transition: 200ms all ease;
		    border-bottom: 3px solid rgba(0,0,0,.2);
		    background: #3c5ff4;
		    text-shadow: 0 2px 0 rgba(0,0,0,.2);
		    color: #fff;
		    font-size: 20px;
		    text-align: center;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    display: block;
		    content: 'upload';
		    line-height: 60px;
		    border-radius: 5px;
		}

		@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";
		.rwd-table {
		  margin: 1em 0;
		  min-width: 300px;
		}
		.rwd-table tr {
		  border-top: 1px solid #ddd;
		  border-bottom: 1px solid #ddd;
		}
		.rwd-table th {
		  display: none;
		}
		.rwd-table td {
		  display: block;
		  font-size: 10px;
		}
		.rwd-table td:first-child {
		  padding-top: .5em;
		}
		.rwd-table td:last-child {
		  padding-bottom: .5em;
		}
		.rwd-table td:before {
		  content: attr(data-th) ": ";
		  font-weight: bold;
		  width: 6.5em;
		  display: inline-block;
		}
		@media (min-width: 1150px) {
		  .rwd-table td:before {
		    display: none;
		  }
		}
		.rwd-table th, .rwd-table td {
		  text-align: left;
		}
		@media (min-width: 1150px) {
		  .rwd-table th, .rwd-table td {
		    display: table-cell;
		    padding: .25em .5em;
		  }
		  .rwd-table th:first-child, .rwd-table td:first-child {
		    padding-left: 0;
		  }
		  .rwd-table th:last-child, .rwd-table td:last-child {
		    padding-right: 0;
		  }
		}

		body {
		  padding: 0 2em;
		  font-family: Montserrat, sans-serif;
		  -webkit-font-smoothing: antialiased;
		  text-rendering: optimizeLegibility;
		  color: #444;
		  background: #eee;
		}

		h1 {
		  font-weight: normal;
		  letter-spacing: -1px;
		  color: #34495E;
		}

		.rwd-table {
		  background: #34495E;
		  color: #fff;
		  border-radius: .4em;
		  overflow: hidden;
		}
		.rwd-table tr {
		  border-color: #46637f;
		}
		.rwd-table th, .rwd-table td {
		  margin: .5em 1em;
		}
		@media (min-width: 1150px) {
		  .rwd-table th, .rwd-table td {
		    padding: 1em !important;
		  }
		}
		.rwd-table th, .rwd-table td:before {
		  color: #dd5;
		}
		.splash-subhead{
			color: #1f8dd6;
		}
		.splash-head{
			color: #1f8dd6;
		}
		.button-success {
		            background: rgb(28, 184, 65); /* this is a green */
		}
	</style>

</head>


<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">SHOPSHO.ES - ADMIN</a>

        <ul class="pure-menu-list">
        	<li class="pure-menu-item"><p id="message" class="splash-subhead"></p></li>
            <li class="pure-menu-item pure-menu-selected"><a href="/#" >Home</a></li>
        </ul>
    </div>
</div>

<div class="">
	

    <div class="splash" id="login">
    	
        <h1 class="splash-head">LOG IN</h1>
        	<div class="pure-form pure-form-aligned" id="login">
	
	<fieldset>

		<div class="pure-control-group">
            <label for="username"  class="splash-subhead">Username</label>
            <input id="username" type="text" placeholder="Your username" autocomplete="true">
        </div>

        <div class="pure-control-group">
            <label for="password" class="splash-subhead">Password</label>
            <input id="password" type="password" placeholder="Your password" autocomplete="true">
        </div>

	   <a type="submit" id="loginsubmit" class="login pure-button pure-button-primary">Log in now</a>
	   </fieldset>
		</div>

    </div>


    <div id="addProduct" class="splash2">
    	<div class="pure-g">



			<div id="" class="pure-u-1-6">
				<h1 id="action" class="splash-head">Add product</h1>
				<div class="pure-form pure-form-aligned" id="">
				<fieldset>
					<div class="editproduct"> <input hidden="true" id="id" value=""/></div>

					<div class="pure-control-group addProducts">
	            		 <label for="type">TYPE</label>
					        <select id="type">
					            <option value="fashion">FASHION</option>
					            <option value="food">FOOD</option>
					        </select>
	        		</div>

				   	<div class="pure-control-group addProducts">
	            		<label for="name" class="splash-subhead">NAME</label>
	            		<input  placeholder="name" id="product_name" autocomplete="off" required="true">
	        		</div>

				   	
				   	<div class="pure-control-group addProducts">
	            		<label for="price" class="splash-subhead">PRICE</label>
	            		<input  placeholder="price" id="price" autocomplete="off"  required="true"/>
	        		</div>

				   	
				   	<div class="pure-control-group addProducts">
	            		<label for="description" class="splash-subhead">DESCRIPTION</label>
	            		<input  placeholder="description" id="description" autocomplete="off"  requi>
	        		</div>

				   	
				   	<div class="pure-control-group addProducts">
	            		<label for="color_number" class="splash-subhead">COLOR</label>
	            		<input  placeholder="color number" id="color_number" autocomplete="off"  val>
	        		</div>

				   	
			  		<div class="pure-control-group addProducts">
	            		<label for="siofu_input" class="splash-subhead" class="splash-subhead">IMAGE</label>
	            		<input type="file"  id="siofu_input" class="btnfile"/>  
	        		</div>

			  		 
			  		<a id="addeditproductsubmit" class="login pure-button button-success" >Send</a>
			  		<div class="editproduct"> <a type="submit" id="cancel" class="button-warning pure-button">Cancel</a></div>
			   	</fieldset>
			   	</div>
			</div>


			<div class="pure-u-2-3 " id="tablediv">
			<h1 id="action" class="splash-head">PRODUCTS</h1>
			<div class="pure-control-group addProducts">
				<label for="type_to_show">TYPE</label>
				<select id="type_to_show">
					<option value="all">ALL</option>
					<option value="fashion">FASHION</option>
					<option value="food">FOOD</option>
				</select>
				<div class="pure-control-group addProducts">
				<table id="messages" class="rwd-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>TYPE</th>
						<th>Name</th>
						<th>Price</th>
						<th>Description</th>
						<th>Color</th>
						<th>Image</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					</thead>
				</table> 
			</div>

		</div>
	</div>
</div>
</div>




<script>

//FIRST CONFIGURATION
	var socket = io.connect(),
		toShow = [],
		queryResult = [],
		message = ""
		_token = false;
		_type_selected = "fashion";

	$('#addProduct').hide();
	$(".editproduct").hide(); 
	
//UTILS

	var cleanForm = function(){
		$("#action").text("Add item");
		$(".editproduct").hide();
		$('#id').val("");
		$('#type').val("");
		$('#product_name').val("");
		$('#description').val("");
		$('#color_number').val("");
		$('#price').val("");
		var control = $("#siofu_input");
		control.replaceWith( control.val(undefined).clone(true) );
		setUploader();
	}

	var resetData = function(){
		toShow = [];
		queryResult = [];
	}

	var resetAndShow = function(){
		toShow = [];
		$(".messages").remove();
		console.log(queryResult);
		for (var i = queryResult.length - 1; i >= 0; i--) {
			if (isShowable(queryResult[i])){
				toShow.push(queryResult[i]);
			} 
		}

		for (var i = toShow.length - 1; i >= 0; i--) {
			showData(toShow[i]);
		}
	}


	var showData = function(product){
		console.log(product);
		$('#messages').append("<tr class='messages'>"+
		"<td data-th='id'>"+product._id +"</td>"+
		"<td data-th='id'>"+product.type +"</td>"+
		"<td data-th='name'>" +product.name +"</td>"+
		"<td data-th='price'>$"+ product.price +"</td>"+
		"<td data-th='description'>" +product.description +"</td>"+
		"<td data-th='colorId'>" + product.colorId +"</td>"+
		"<td data-th='image'>"+product.image +"</td>"+
		"<td><button class='edit button-xsmall pure-button button-warning' value='"+JSON.stringify(product)+"'> edit </button ></td>"+
		"<td><button class='delete button-xsmall pure-button button-error' value='"+product._id +"' > delete </button ></td>"+
		"</tr>");
	}

//CHANGE SOMETHING HANDLERS
/*    $( "#selectRooms" ).change(function() {
		resetAndShow();
	});*/


//ENVENT SOCKET INT HANDLERS
	var isShowable = function(product){
		var type_to_show = $('#type_to_show').val();
		if (type_to_show === "all")  return true;
		else
			if (product.type === type_to_show){return true;}
			else return false;
	}

	var loginRhandle = function(data){
		_token = data.result;
		$("#message").text(data.message + data.result);
		if (data.result !== false)
			{	
				$('#login').hide();
				$('#addProduct').show();
				resetData();
				getBulkProducts();
			}
	};
	socket.on('loginR', loginRhandle);

	var addProductRHandle = function(data){
		$("#message").text(data.message);
		if (data.result === true){resetData();getBulkProducts();}
	};
	socket.on('addProductR', addProductRHandle);

	var getAllProductsRHandle = function(data){
		$("#message").text(data.message);
		queryResult.push(data.result);
		resetAndShow();
	};

	var getBulkProductsRHandle = function(data){
		resetData();
		console.log(data);
		$("#message").text(data[0].message);
		for (var i = data[0].products.length - 1; i >= 0; i--) {
			queryResult.push(data[0].products[i]);
		}
		resetAndShow();
	};

	var editProductRHandle = function(data){
		console.log("editProductRHandle");
		getBulkProducts();}

	var deleterRHandle = function(data){
		console.log("editProductRHandle");
		getBulkProducts();}

	socket.on('getAllProductsR', getAllProductsRHandle);
	socket.on('getBulkProductsR',getBulkProductsRHandle);
	socket.on('editProductR',editProductRHandle);
	socket.on("deleterR"	,deleterRHandle);


//CLICK HANDLERS
	var uploader = new SocketIOFileUpload(socket);
	var setUploader = function(){
	uploader.listenOnSubmit(document.getElementById("addeditproductsubmit"),document.getElementById("siofu_input"));};

	setUploader();
	uploader.addEventListener("start",function(event){
		event.file.meta.product = { product : {
					_id : $('#id').val(), 
					type : $('#type').val(),
					name : $('#product_name').val(),
					description : $('#description').val(),
					colorId : $('#color_number').val(),
					image : $('#siofu_input').val().split('\\').pop(),
					price : $('#price').val()},
			token : _token
			};
		cleanForm();
	});

	$('#addeditproductsubmit').click(function(){
		if($('#id').val() !== "" && $('#siofu_input').val() == ""){
			socket.emit("editProduct", { product : {
				 _id : $('#id').val(),
				 type : $('#type').val(),
				 name : $('#product_name').val(),
				 description : $('#description').val(),
				 colorId : $('#color_number').val(),
				 image : "",
				 price : $('#price').val()
				},
			token : _token
			}
		);
			cleanForm();
			resetAndShow();
		};
		
	});

	$("#tablediv").on("click",".delete", function(){
		var a = this.value;
		socket.emit("delete", { _id : a, token : _token });
		resetData();
		resetAndShow();
	});



	$('#loginsubmit').click(function(){
		socket.emit("login", { username : $('#username').val(), password : $('#password').val()});
	});

	$("#tablediv").on("click",".edit", function(){
		var a = eval("[" + this.value+"]")[0];
		$("#type").val(a.type);
		$("#action").text("Edit item");
		$(".editproduct").show();
		$('#id').val(a._id);
		$('#product_name').val(a.name);
		$('#description').val(a.description);
		$('#color_number').val(a.colorId);
		$('#price').val(a.price);
	});

	$("#cancel").click(function(){
		cleanForm();
	});

	var getBulkProductsTyped = function(type){
		socket.emit("getBulkProductsTyped", { type : "product"});
	};

	var getBulkProducts = function(){
		socket.emit("getBulkProducts");
	};

// CHANGE HANDLERS
	$("#type_to_show").change(function(){
		resetAndShow();


	});


</script>
		
	
  </body>
</html>


